# Database Configuration (MySQL)
DB_HOST=localhost
DB_USER=schoolos_timetable
DB_PASSWORD=rVGlje??oU849czf
DB_NAME=schoolos_timetable
DB_PORT=3306

# AI Configuration
# ครูแต่ละคนจะใช้ Key ของตนเองในการตั้งค่าหน้า Dashboard
GEMINI_API_KEY=
